/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 2000 [ID]
      ,[Tracker_ID]
      ,[Latitude]
      ,[Longitude]
      ,[Speed]
      ,[GPS_Datetime]
      --,[Route_ID]
      --,[Segment_ID]
      --,[Direction]
      --,[Heading]
      --,[Main_Power_Status]
      --,[Engine_OnOff_Status]
      --,[Panic_Button_Status]
      --,[Deviation]
      ,[Received_Datetime]
      ,[Segment_ID_Original]
      ,[Trip_On_Status]
      ,[Bus_Plate_No]
      ,[Travel_Time]
      ,[Segment_Ascending]
      ,[Trip_No]
      ,[Distance_Travelled]
      ,[BSDRTripNo]
      ,[Segment_ID_Original2]
      ,[Bus_Stop_ID]
      ,[Bus_ID]
      ,[Driver_ID]
      ,[Vehicle_Type]
      ,[Vehicle_Model]
      ,[EngineOff_With_Speed]
      ,[Bus_Stop_Sequence]
      ,[Trip_Type]
      ,[ZigBee_Bus_Status]
      ,[ZigBee_PID_Status]
      ,[Cover_Status]
      ,[ETM_Status]
      ,[GPS_Status]
      ,[Celluar_Signal]
      ,[Sim_Card]
      ,[Tracker_OnOff_Status]
  FROM [FTS].[dbo].[AVL_Data] with (nolock)
  where GPS_Datetime>dateadd("SECOND",-30,GETDATE())