/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 2000 [ID]
      ,[Tracker_ID]
      ,[Latitude]
      ,[Longitude]
      ,[Speed]
      ,[GPS_Datetime]
      --,[Route_ID]
      --,[Route_Description]
      --,[Segment_ID]
      --,[Direction]
      --,[Heading]
      --,[Main_Power_Status]
      --,[Engine_OnOff_Status]
      --,[Panic_Button_Status]
      --,[Deviation]
      ,[Received_Datetime]
      ,[Segment_ID_Original]
      ,[Depot_ID]
      ,[Bus_ID]
      ,[Bus_Registration_No]
      ,[Driver_ID]
      ,[Driver_Name]
      ,[IsOffRoute]
      ,[IsDiversion]
      ,[IsCharteredBus]
      ,[IsRecoveryTeam]
      ,[IsEnforcementTeam]
      ,[IsMobilityTeam]
      ,[IsBusIdle]
      ,[SOS_Status]
      ,[Service_Type]
      ,[MainPowerOn_Start]
      ,[MainPowerOn_End]
      ,[MainPowerOff_Start]
      ,[MainPowerOff_End]
      ,[Trip_On_Status]
      ,[Segment_Ascending]
      ,[IsReverse]
      ,[Bus_Stop_Sequence]
      ,[Trip_Type]
  FROM [FTS].[dbo].[Bus_AVL] with (nolock)
  where GPS_Datetime>dateadd("SECOND",-60,GETDATE())
  --where GPS_Datetime>dateadd("SECOND",-120,GETDATE())