/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ID]
      ,[Tracker_ID]
      ,[Latitude]
      ,[Longitude]
      ,[Speed]
      ,[GPS_Datetime]
      ,[Route_ID]
      ,[Segment_ID]
      ,[Direction]
      ,[Heading]
      ,[Main_Power_Status]
      ,[Engine_OnOff_Status]
      ,[Panic_Button_Status]
      ,[Bus_Stop_ID]
      ,[Travel_Time]
      ,[Bus_ID]
      ,[Bus_Registration_No]
      ,[Driver_ID]
      ,[Trip_No]
      ,[Deviation]
      ,[Distance_Travelled]
      ,[Vehicle_Type]
      ,[Vehicle_Model]
      ,[Segment_ID_Original]
      ,[EngineOff_With_Speed]
      ,[Trip_On_Status]
      ,[Received_Datetime]
      ,[Area_Name]
      ,[Bandar]
      ,[Negeri]
      ,[Distance]
      ,[Desc]
  FROM [BSDR].[dbo].[AVL]
  
select MIN(id)[MIN],MAX(id)[MAX],COUNT(1)[COUNT]  FROM [BSDR].[dbo].[AVL]

--PROCEDURE START
USE BSDR;
dbcc checkident ('AVL',reseed,0);
INSERT INTO [BSDR].[dbo].[AVL](
[Tracker_ID]
,[Latitude]
,[Longitude]
,[Speed]
,[GPS_Datetime]
,[Route_ID]
,[Segment_ID]
,[Direction]
,[Heading]
,[Main_Power_Status]
,[Engine_OnOff_Status]
,[Panic_Button_Status]
,[Bus_Stop_ID]
,[Travel_Time]
,[Bus_ID]
,[Bus_Registration_No]
,[Driver_ID]
,[Trip_No]
,[Deviation]
,[Distance_Travelled]
,[Vehicle_Type]
,[Vehicle_Model]
,[Segment_ID_Original]
,[EngineOff_With_Speed]
,[Trip_On_Status]
,[Received_Datetime]
,[Area_Name]
,[Bandar]
,[Negeri]
,[Distance]
,[Desc]
) 
SELECT [Tracker_ID]
      ,[Latitude]
      ,[Longitude]
      ,[Speed]
      ,[GPS_Datetime]
      ,[Route_ID]
      ,[Segment_ID]
      ,[Direction]
      ,[Heading]
      ,[Main_Power_Status]
      ,[Engine_OnOff_Status]
      ,[Panic_Button_Status]
      ,[Bus_Stop_ID]
      ,[Travel_Time]
      ,[Bus_ID]
      ,[Bus_Registration_No]
      ,[Driver_ID]
      ,[Trip_No]
      ,[Deviation]
      ,[Distance_Travelled]
      ,[Vehicle_Type]
      ,[Vehicle_Model]
      ,[Segment_ID_Original]
      ,[EngineOff_With_Speed]
      ,[Trip_On_Status]
      ,[Received_Datetime]
      ,[Area_Name]
      ,[Bandar]
      ,[Negeri]
      ,[Distance]
      ,[Desc]
FROM [BSDR].[dbo].[AVL];
DELETE [BSDR].[dbo].[AVL] WHERE ID>=639499;
--PROCEDURE END